%header-text {
   color: $header-color;
   font-size: 1.625rem;
   font-weight: 800;
   line-height: 20px;
   text-transform: uppercase;
   text-align: center;
   position: absolute;
  font-family: $font-header;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  z-index: 1;
 }

%header-line {
  content: "";
  position: absolute;
  left: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #dedede;
  background-image: -webkit-linear-gradient(left, #f9f9f9, rgba(241,241,241,0) 20%, rgba(228,228,228,0) 50%, rgba(241,241,241,0) 80%, #f9f9f9);
  background-image: -moz-linear-gradient(left, #f9f9f9, rgba(241,241,241,0) 20%, rgba(228,228,228,0) 50%, rgba(241,241,241,0) 80%, #f9f9f9);
  background-image: -o-linear-gradient(left, #f9f9f9, rgba(241,241,241,0) 20%, rgba(228,228,228,0) 50%, rgba(241,241,241,0) 80%, #f9f9f9);
  background-image: linear-gradient(to right, #f9f9f9, rgba(241,241,241,0) 20%, rgba(228,228,228,0) 50%, rgba(241,241,241,0) 80%, #f9f9f9);
}

%preview-text {
  color: #7a7a7a;
  font-family: $font-header;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.key-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-134deg);
  color: #e4e4e4;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px;
  background: $main-word;
  border-radius: 5px;
  bottom:-22px;
  z-index: 1;
  i {
    transform: rotate(-224deg);
  }
}

.header-content-block {
  position: relative;
  margin-top: 80px;
  padding-bottom: 20px;
  .block-header {
    @media (max-width: 776px) {
      font-size: 1rem;
    }
  }
  h2 {
    @extend %header-text;
    span {
      color: $main-word;
    }
    em {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-shapes {
      padding-left: 10px;
    }
    .right-shapes {
      padding-right: 10px;
    }
  }
}
.header-content-block:before, .header-content-block:after {
  @extend %header-line;
  @media (max-width: 776px) {
    display: none;
  }
}
.right-shapes, .left-shapes {
  @media (max-width: 776px) {
    display: none;
  }
}

.header-content-block:before {
  top: 7px;
}
.header-content-block:after {
  top:12px;
}


.offer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;

  .offer-info {
    text-align: center;
    color: #8a8a8a;
    font-family: $font-header;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    padding-top: 20px;
  }
  .offer-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 80px;
    @media (max-width: 776px) {
      padding-bottom: 40px;
    }
    li {
      text-align: center;
      margin-bottom: 50px;
      @media (min-width: 992px) {
        width: 30%;
        padding-right: 30px;
        li:last-child {
          padding-right: 0px;
        }
      }
      i {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: #383838;
        color: #e4e4e4;
        font-size: 2rem;
        font-weight: 400;
        box-sizing: border-box;
        padding-top: 34px;
        text-align: center;
      }
      h3 {
        color: #606060;
        font-family: $font-header;
        font-size: 0.875rem;
        font-weight: 800;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 20px;
      }
      p {
        @extend %preview-text;
        padding-bottom: 23px;
      }
      a.btn-read {
        color: #8a8a8a;
        font-family: $font-header;
        font-size: 0.8rem;
        font-weight: 800;
        text-transform: uppercase;
        border: 1px solid #dedede;
        padding: 11px;
        border-radius: 5px;
      }
    }
    li:hover  {
     a.btn-read {
      background: $main-word;
      color: white;
    }
     i {
       background: $main-word;
     }
      h3 {
      color: $main-word;
      }
    }
  }
}

.amazing-features {
  width: 100%;
  background: $header-color;
  height: auto;
  .block-header {
    padding-top: 77px;
    @media (max-width: 776px) {
      font-size: 1rem;
    }
  }
  h2 {
    @extend %header-text;
    background: none;
    color: white;
    position: relative;
    padding-bottom: 20px;
    span {
      color: $main-word;
    }
    em {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-shapes {
      padding-left: 10px;
    }
    .right-shapes {
      padding-right: 10px;
    }
  }
  p {
    @extend %preview-text;
    text-align: center;
  }

  .features-content {
     display: flex;
    padding-top: 50px;
    justify-content: space-between;
    .features-list {
      padding-top: 40px;
      width: 33%;
      @media (max-width: 992px) {
        width: 80%;
        margin: 0 auto;
      }
      li {
        display: flex;
        padding-bottom: 67px;
        i {
          padding-right: 34px;
          color: $main-word;
          font-size: 2.5rem;
          padding-top: 6px;
          text-transform: uppercase;
        }
        p {
          text-align: left;
        }
        h3 {
          color: #e4e4e4;;
          font-family: $font-header;
          font-size: 0.875rem;
          font-weight: 800;
          text-transform: uppercase;
          padding-bottom: 20px;
        }
      }
      li:last-child {
        padding-bottom: 50px;
      }
    }
    .screen {
      @media (max-width: 992px) {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.activities {
  position: relative;
  .activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 47px;
    width: 100%;
    @media (max-width: 776px) {
      padding-top: 30px;
      padding-bottom: 0;
    }
    li {
      display: flex;
      width: 32%;
      position: relative;
      padding-bottom: 60px;
      @media (max-width: 992px) {
        width: 45%;
      }
      @media (max-width: 779px) {
        width: 90%;
        margin: 0 auto;
      }
      .ct-ribbon {
        background: none repeat scroll 0 0 $main-word;
        color: #ffffff;
        height: 50px;
        position: absolute;
        width: 40px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .ct-triangle {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $main-word;
          height: 0;
          position: absolute;
          top: 100%;
          width: 0;
        }
        .ct-triangle.two {
          width: 40px;
          height: 32px;
          position: absolute;
          background: $header-color;
          top: 0;
          border: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .ct-triangle.two:before {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $header-color;
          height: 0;
          position: absolute;
          top: 100%;
          width: 0;
          left: 0;
          content: "";
        }
        span {
          position: absolute;
          z-index: 1;
          display: inline-block;
          width: 100%;
          text-align: center;
          top: 13px;
          i {
            color: #e3e3e3;
            font-size: 1.25rem;
            font-weight: 400;
          }

        }
      }
      .info-active {
        padding-left: 60px;
        h3 {
          color: #606060;
          font-family: $font-header;
          font-size: 0.875rem;
          font-weight: 800;
          text-transform: uppercase;
          padding-bottom: 10px;
        }
        span {
          color: #aaaaaa;
          font-family: "Raleway";
          font-size: 0.75rem;
          font-weight: 500;
          padding-bottom: 15px;
          display: inline-block;
        }
        p {
          color: #7a7a7a;
          font-family: "Raleway";
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
    li:hover {
      .ct-ribbon {
        background: $header-color;
      }
      .ct-triangle.two:before {
        border-top-color: $main-word;
      }
      .ct-triangle.two {
        background: $main-word;
      }
      .ct-triangle {
        border-top-color: $header-color;
      }
    }
  }
}

.skills {
  background: $header-color;
  .skill-percent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      position: relative;
      text-align: center;
      width: 16% !important;
      @media (max-width: 992px) {
        width: 80% !important;
        margin: 0 auto;
      }
      .easyPieChart canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        display: block;
        margin: 0 auto;
      }
      .percentage-dark {
        color: #e4e4e4;
        font-family: "Raleway";
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        span {
          font-size: 1.875rem;
          line-height: 140px !important;
        }
      }
      .chart-label {
        margin-top: -40px;
        display: block;
        color: #8a8a8a;
        font-family: "Raleway";
        font-size: 0.875rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 140px !important;
      }
    }
  }
  .block-header {
    padding-top: 77px;
    @media (max-width: 776px) {
      font-size: 1rem;
    }
  }
  h2 {
    @extend %header-text;
    background: none;
    color: white;
    position: relative;
    padding-bottom: 20px;
    span {
      color: $main-word;
    }
    em {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-shapes {
      padding-left: 10px;
    }
    .right-shapes {
      padding-right: 10px;
    }
  }
  p {
    @extend %preview-text;
    text-align: center;
    padding-bottom: 50px;
  }
}

.sample-work {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 107px;
  p {
    @extend %preview-text;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 47px;
  }
  .portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 19.8%;
      position: relative;
      margin-bottom: 5px;
      @media (max-width: 992px) {
        width: 24.8%;
      }
      @media (max-width: 768px) {
        width: 33.1%;
      }
      @media (max-width: 640px) {
        width: 49.8%;
      }
      @media (max-width: 480px) {
        width: 96%;
        margin: 0 auto;
      }
      .photo-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-word;
        box-sizing: border-box;
        opacity: 0;
        .link-block {
          text-align: center;
          padding-top: 15%;
          padding-bottom: 8%;
          a {
            background: #e4e4e4;
            transform: rotate(45deg);
            border-radius: 5px;
            width: 40px;
            height: 40px;
            display: inline-block;
            box-sizing: border-box;
            i {
              padding: 12px 13px;
              color: #00a99d;
              font-size: 1rem;
              font-weight: 400;
              transform: rotate(30deg);
            }
          }
          a:hover {
            background: #383838;
            i {
              color: white;
            }
          }
        }
        h5 {
          color: #e4e4e4;
          font-family: "Raleway";
          font-size: 1rem;
          font-weight: 800;
          text-align: center;
          padding-bottom: 5%;
        }
        span {
          color: #e4e4e4;
          font-family: "Raleway";
          font-size: 0.75rem;
          font-weight: 600;
          line-height: 1.375rem;
          display: block;
          text-align: center;
        }
      }
        img {
          width: 100%;
          height: 100%;
        }
      }
    li:hover {
      .photo-overlay {
        opacity: 1;
      }
    }
  }
  .view-works {
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background: $main-word;
    color: #e4e4e4;
    font-family: "Raleway";
    font-size: 0.8125rem;
    font-weight: 800;
    line-height: 1.25rem;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 10px;
  }
}

.company-facts {
  background: $header-color;
  width: 100%;
  padding-bottom: 90px;
  .block-header {
    padding-top: 77px;
    @media (max-width: 776px) {
      font-size: 1rem;
    }
  }
  h2 {
    @extend %header-text;
    background: none;
    color: white;
    position: relative;
    padding-bottom: 20px;
    span {
      color: $main-word;
    }
    em {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-shapes {
      padding-left: 10px;
    }
    .right-shapes {
      padding-right: 10px;
    }
  }
  p {
    @extend %preview-text;
    text-align: center;
    padding-bottom: 50px;
  }
  .fact-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 23.5%;
      @media (max-width: 1200px) {
        width: 30%;
        padding-bottom: 25px;
      }
      @media (max-width: 992px) {
        width: 45%;
      }
      @media (max-width: 660px) {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 40px;
      }
      .counter {
        color: #e4e4e4;
        font-family: "Raleway";
        font-size: 80px;
        font-weight: 500;
        font-style: italic;
        text-transform: uppercase;
        display: block;
        text-align: center;
        position: relative;
      }
      span.counter:before, span.counter:after {
        content:'';
        width: 10px;
        height: 10px;
        background-color: #484848;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top:50%
      }
      span.counter:before {
       left:50px;
      }
      span.counter:after {
        right: 40px;
      }
      .counter_desc{
        display: block;
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #484848;
        position: relative;
        i {
          color: #00a99d;
          font-size: 1.25rem;
          font-weight: 400;
          text-transform: uppercase;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 10px;
          top:-10px;
          background: $header-color;

        }
        h5 {
          color: #606060;
          font-family: "Raleway";
          font-size: 0.875rem;
          font-weight: 700;
          line-height: 1rem;
          text-transform: uppercase;
          padding-top: 25px;
          span {
            font-size: 0.625rem;
          }
        }
      }
    }
    li:last-child {
      @media (max-width: 660px) {
        padding-bottom: 0px;
      }
    }
    li:hover {
      span.counter:before, span.counter:after {
        background: #00a99d;
      }
    }
  }
}

.option-button {
  background: #00a99d;
  box-sizing: border-box;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      color: #e4e4e4;
      font-family: "Raleway";
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 34px;
      padding-bottom: 34px;
      line-height: 1rem;
      height: 1rem;
    }
    .button-block {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      a {
        color: #606060;
        font-family: "Raleway";
        font-size: 0.8125rem;
        font-weight: 800;
        text-transform: uppercase;
        background: #e4e4e4;
        padding: 15px;
        border-radius: 5px;
        margin-left: 5px;
      }
    }
  }
}

